html, body{
	font-family: 'STIX Two Text', serif;
	scroll-behavior:smooth;
	padding:0;
  margin:0;
  color:white;
  background-color:black;
  text-align:center;
}
body{
	height: 500vh;
}
h1{
	font-weight: bold;
	font-size: 35px;
}
h2{
	margin-bottom: 0;
	text-align: center;
	font-weight: normal;
	font-size: 30px;
}
h3{
	font-weight: lighter;
	font-size: 30px;
}
p{
	font-size: 25px;
}

#nBar{
	z-index:10;
	background-image: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,1)); /*Black gradient upwwards*/
	text-align: center;
	padding-top:10px;
  margin: 0;
}
#nBar hr{
	border-color: #4d8cf5;
	border-width: 1px;
	width: 50%;
}
.nLinks a{
	font-size:  20px;
	font-weight: light;
	position: relative; left: -32px;
	padding-left: 20px;
	text-align: center;
	text-decoration: none;
	color: white;
}
a:hover{
	color: #4d8cf5;
	transition: 0.4s;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.shift{
	padding-top:65px;
	padding-bottom:20px;
}

#main{
	height: 60px;
}

.topic{
	position:  relative;
	text-align: left;
	padding-left: 40px;
	display: block;
}
.topic hr{
	text-align: center;
	border-color: white;
	border-width: 1px;
	width: 25%;
}
.topic a{
	font-weight: light;
	position: relative; left: -32px;
	padding-left: 20px;
	text-align: center;
	color: white;
}

#breakdown{ /*div container of drop down*/
	position:  relative; left: 50%; /*Centre DIV*/
	margin-left: -125px;
	width: 250px;
	height:50px;
}

.dropbtn{ /* Class for topic list button */
	font-size: 20px;
	width: 100%; height: 100%;
	position: relative;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	background-color: black;
	color: white;
	font-family: 'STIX Two Text', serif;
}	

#breakdown:hover .topicDrop{ /*When hover on div, make dropdown of topics visible and slide down*/
	display:  block;
	transform-origin: top center;
	animation: growDown 200ms ease-in-out;
	animation-name: growDown;
}
#breakdown:hover .dropbtn{ /*When hover on div, change topic list button colour*/
	transition: 0.4s ease-in-out;
	background-color: #4d8cf5;
}
#breakdown:hover{
	padding-bottom: 100px;
	transition: 0.4s;
}
.topicDrop a:hover{ /* Hover on topic name changes its background colour*/
	transition: 0.4s;
	background-color: #4d8cf5;
}

.topicDrop{ /* Class for topics */
	background-color: black;
	display:  none;
	color: white;
	height: 50px;
	width: 100%;
	margin: auto;
	font-family: 'STIX Two Text', serif;
}	
@keyframes growDown { /* Animation for drop down */
  0% {
      transform: scaleY(0)
  }
  100% {
      transform: scaleY(1)
  }
}

.topicDrop a{ /* Class for topic links */
	border-style: solid;
	border-width: 1px;
	border-color: white;
	display: block;
	font-size:  20px;
	font-weight: light;
	text-align: center;
	text-decoration: none;
	color: white;
}



