html, body{
	font-family: 'STIX Two Text', serif;
	scroll-behavior:smooth;
	padding:0;
  margin:0;
  color:white;
  background-color:black;
  text-align:center;
}
body{
	height: 500vh;
}
h1{
	font-weight: lighter;
	font-size: 35px;
}
h2{
	font-weight: normal;
	font-size: 30px;
}
p{
	font-size: 25px;
}

#nBar{
	z-index:10;
	background-image: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,1)); /*Black gradient upwwards*/
	text-align: center;
	padding-top:10px;
  margin: 0;
}
#nBar hr{
	border-color: #4d8cf5;
	border-width: 1px;
	width: 50%;
}
.nLinks a{
	font-weight: light;
	position: relative; left: -32px;
	padding-left: 20px;
	text-align: center;
	text-decoration: none;
	color: white;
}
.nLinks a:hover{
	color: #4d8cf5;
	transition: 0.4s;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.shift{
	padding-top:65px;
	padding-bottom:20px;
}

#main{
	height: 3%;
	animation-name: myfirst;
	animation-duration: 0.5s;
}
@keyframes myfirst {
  0%   {transform: rotate(90deg);}
}


.topic{
	position:  relative;
	text-align: left;
	padding-left: 40px;
	display: block;
}
